<% unless @replies.blank? %>

<% @replies.each do |reply| %>

<div class="row">

<div class="col-md-2 user">

	<strong><%= link_to reply.user.name, reply.user %></strong>

	<% if reply.user.admin? %>
		<br><em>admin</em>
	<% end %>

	<p></p>

	<p><%= image_tag reply.user.gravatar_url, class: "avatar" %></p>

	Join Date: <%= reply.user.created_at.strftime("%b %Y") %><br>

	Posts: <%= reply.user.total_posts %>

</div>

<div class="col-md-10 content">

	<p><%= reply.body %></p>

<% if user_signed_in? %>
	<% if reply.user == current_user || current_user.admin? %>

		<%= link_to "Edit", edit_post_reply_path(@post, reply) %>

	<% end %>

	<% if current_user.admin? %>

		&nbsp;|&nbsp;<%= link_to "Delete", [reply.post, reply], method: :delete, data: {confirm: "are you sure?"} %>

	<% end %>
<% end %>

</div>

</div>

<% end %>

<% end %>