<h3>User Profile Page</h3>

<p><%= image_tag @user.gravatar_url %></p>

<p><strong>Name:</strong> <%= @user.name %>
<% if @user.admin? %>
	&nbsp;|&nbsp;<em>Admin</em>
<% end %>
</p>

<p><strong>Email:</strong> <%= @user.email %></p>

<p><strong>Join Date:</strong> <%= @user.created_at.strftime("%b %d %Y") %></p>

<p><strong>Post Count:</strong> <%= @user.total_posts %></p>

<% if user_signed_in? %>
<% if current_user == @user || current_user.admin? %>

<p><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></p>

<% end %>
<% end %>