<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <strong><%= f.label :title %></strong>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <strong><%= f.label :content %></strong>
    <%= f.text_area :content, placeholder: "Maximum of 2000 characters...", class: "form-control" %>
  </div>

  <% if current_user.admin? %>

  <div class="form-group">
    <strong>Sticky?</strong><br>
    <%= f.check_box :sticky %>
  </div>

  <% end %>
  
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
