<h1>Listing posts</h1>

<p><%= link_to 'New Post', new_post_path %></p>

<%= will_paginate @posts %>

<h3>Sticky Posts</h3>

<% unless @sticky.blank? %>

<table>
<thead>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Created at</th>
    <th>Replies</th>
  </tr>
</thead>

<tbody>
<% @sticky.each do |sticky| %>

  <tr>
    <td><%= link_to sticky.title, sticky %></td>
    <td><%= sticky.user.email %></td>
    <td>Posted <%= time_ago_in_words(sticky.created_at) %> ago.</td>
    <td><%= sticky.replies.count %></td>

    <% if user_signed_in? %>
        <% if current_user.admin? %>

        <td><%= link_to 'Destroy', sticky, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>
    <% end %>
  </tr>

<% end %>

</tbody>
</table>

<% else %>

No Stickies

<% end %>

<h3>Latest Posts</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Created at</th>
      <th>Replies</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>

      <% unless post.sticky? %>

      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.user.email %></td>
        <td>Posted <%= time_ago_in_words(post.created_at) %> ago.</td>
        <td><%= post.replies.count %></td>

        <% if user_signed_in? %>
        <% if current_user.admin? %>

        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>
        <% end %>

        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts %>
