<h3>General Discussion</h3>

<p class="space"></p>

<div class="digg_pagination">
<%= will_paginate @posts %>
</div>

<p><%= link_to 'New Post', new_post_path, class: "btn btn-primary" %></p>

<h4>Sticky Posts</h4>

<%= render 'sticky' %>

<p class="space"></p>

<h4>Latest Posts</h4>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Created at</th>
      <th>Replies</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>

      <% unless post.sticky? %>

      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.user.email %></td>
        <td>Posted <%= time_ago_in_words(post.created_at) %> ago.</td>
        <td><%= post.replies.count %></td>

        <% if user_signed_in? %>
        <% if current_user.admin? %>

        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>
        <% end %>

        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<p class="big-space"></p>

<p><%= link_to 'New Post', new_post_path, class: "btn btn-primary" %></p>

<div class="digg_pagination bottom">
<%= will_paginate @posts %>
</div>
