<h3>General Discussion</h3>

<p class="space"></p>

<div class="digg_pagination">
<%= will_paginate @posts %>
</div>

<p><%= link_to 'New Post', new_post_path, class: "btn btn-primary" %></p>

<h4>Sticky Posts</h4>

<%= render 'sticky' %>

<p class="space"></p>

<h4>Latest Posts</h4>

<%= render 'post' %>

<p class="big-space"></p>

<p><%= link_to 'New Post', new_post_path, class: "btn btn-primary" %></p>

<div class="digg_pagination bottom">
<%= will_paginate @posts %>
</div>
